@font-face {
    font-family: 'Hieroglyphic';
    src: url('NewGardiner.ttf') format('truetype');
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #ffffff;
	color: #000000;
}

h1 {
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 .subtitle {
	font-size: 0.8em;
	font-weight: normal;
}

h2 {
	font-size: 20px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.author {
	text-align: center;
	font-size: 20px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.abstract {
	background: #f8f8f8;
	border-left: 4px solid #ccc;
	padding: 1em;
	margin-bottom: 2em;
}
.abstract h2 {
	margin-top: 0;
}

.navigation {
	text-align: center;
	margin: 20px 0;
}

.navigation .button {
	display: inline-block;
	margin: 0 10px;
	padding: 7px 10px;
	font-size: 20px;
	font-weight: bold;
	background-color: #08f;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	border: 2px solid #06b;
	transition: background-color 0.3s ease, border-color 0.3s ease;
}

.navigation .button:hover {
	background-color: #06b;
	border-color: #048;
}

.navigation span {
	text-align: center;
	font-size: 20px;
	margin-top: 18px;
	margin-bottom: 18px;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 14px;
	margin: 20px auto;
}

table th, table td {
	border: 1px solid #000000;
	text-align: center;
	vertical-align: bottom;
	padding: 8px;
}

tt {
	color: blue;
}

.glyph_table {
	margin-left: 0px;
}

.label {
	background-color: #f0f0f0;
	font-weight: bold;
}

.glyph {
	font-family: Hieroglyphic;
	font-size: 30px;
}

.noncore {
	font-size: 16px;
	font-weight: bold;
}

.code {
	font-size: 12px;
	color: #111;
}

.done {
	color: green;
}

.unused {
	background: repeating-linear-gradient( -45deg, #999, #999 2px, #888 2px, #888 4px);
}

.image5 {
	display: inline;
	width: 40px; 
	height: 40px;
}

.image16 {
	display: inline;
	width: 40px; 
	height: 40px;
}
